

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.ribbon {
   width: 420px;
   position: absolute;
   text-align: center;
   font-size: 20px!important;
   background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 25px!important;
   color: #801111;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
.relative {
    position: relative;}
#ribbon {
    height: 170px;
    margin-left: 375px; /* need to change when there is a diffrent @screen */
}

.ribbon h2 {
    font-size: 18px!important;
    color: #801111;
    text-shadow: #D65C5C 0 1px 0;
    line-height: 23px;
}

.viewport {
    width: 360px;
    height: 260px;
    margin: 0 12px;
    background-color:#f0f0f0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    overflow: hidden;
    position: relative;
}
.viewport .circleplayer  {
    position: relative;
    left: 60px;
    top: 30px;
    width:200px;
}

.viewport .cp-container {
    position: relative;
    width: 104px; /* 200 - (2 * 48) */
    height: 104px;
    background: url("../img/bgr.jpg") 0 0 no-repeat;
    padding: 48px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


/* FALLBACK for .progress
 * (24 steps starting from 1hr filled progress, Decrease second value by 104px for next step)
 * (It needs the container selector to work. Or use div)
 */

.cp-container .cp-fallback {
    background: url("../img/progress_sprite.jpg") no-repeat;
    background-position: 0 104px;
}

.cp-progress-1,
.cp-progress-2 {
    background: url("../img/progress.png") 0 0 no-repeat;
}

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
    position:absolute;
    width:104px;
    height:104px;
}

.cp-circle-control {
    cursor:pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
    clip:rect(0px,104px,104px,52px);
    display:none;
}


/* This is needed when progress is greater than 50% or for fallback */

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress.cp-fallback{
    clip:rect(auto, auto, auto, auto);
}

.cp-controls {
    margin:0;
    padding: 26px;
}

.cp-controls li{
    list-style-type:none;
    display: block;

    /*IE Fix*/
    position:absolute;
}

.cp-controls li a{
    position: relative;
    display: block;
    width:50px;
    height:50px;
    text-indent:-9999px;
    z-index:1;
}

.cp-controls .cp-play {
    background: url("../img/controls.jpg") 0 0 no-repeat;
}

.cp-controls .cp-play:hover {
    background: url("../img/controls.jpg") -50px 0 no-repeat;
}

.cp-controls .cp-pause {
    background: url("../img/controls.jpg") 0 -50px no-repeat;
}

.cp-controls .cp-pause:hover {
    background: url("../img/controls.jpg") -50px -50px no-repeat;
}

.cp-jplayer {
    width: 0;
    height: 0;
}





